<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fz.shop.mapper.MenuDoMapper" >
  <resultMap id="BaseResultMap" type="com.fz.shop.model.MenuDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="P_TYPE_ID" property="pTypeId" jdbcType="BIGINT" />
    <result column="P_TYPE_NAME" property="pTypeName" jdbcType="VARCHAR" />
    <result column="P_TYPE_P_ID" property="pTypePId" jdbcType="BIGINT" />
    <result column="MENU_URI" property="menuUri" jdbcType="VARCHAR" />
    <result column="MENU_STYLE" property="menuStyle" jdbcType="TINYINT" />
    <result column="IS_MENU" property="isMenu" jdbcType="TINYINT" />
    <result column="STATE" property="state" jdbcType="TINYINT" />
    <result column="CREATE_BY" property="createBy" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="queryLeafNode" resultType="Long">
    SELECT
      A.type_id
    FROM
      tb_pro_type P
    WHERE NOT EXISTS
      (SELECT
        *
      FROM
        tb_pro_type T1 ,
        tb_pro_type T2
      WHERE T1.type_id=T2.type_p_id
        AND T1.type_id=P.type_id)
  </select>

</mapper>