<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fz.shop.mapper.UserDoMapper" >
  <resultMap id="BaseResultMap" type="com.fz.shop.model.UserDo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="U_ID" property="uId" jdbcType="BIGINT" />
    <result column="U_NAME" property="uName" jdbcType="VARCHAR" />
    <result column="U_PASSWORD" property="uPassword" jdbcType="VARCHAR" />
    <result column="U_REALNAME" property="uRealname" jdbcType="VARCHAR" />
    <result column="U_EMAIL" property="uEmail" jdbcType="VARCHAR" />
    <result column="U_PHONE" property="uPhone" jdbcType="VARCHAR" />
    <result column="U_ADDRESS" property="uAddress" jdbcType="VARCHAR" />
    <result column="U_TYPE" property="uType" jdbcType="TINYINT" />
    <result column="U_STATE" property="uState" jdbcType="TINYINT" />
    <result column="CREATE_BY" property="createBy" jdbcType="BIGINT" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="BIGINT" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>